:root {
    --dark-primary-color: #232323;
    --dark-secondary-color: #1C1C1C;
    --light-primary-color: #ededed;
    --light-secondary-color: #dedede;
    --contrast-colorA: #10a23c;
    --dark-contrast-color: #ededed;
    --light-contrast-color: #232323;
    --system-colorA: var(--dark-primary-color);
    --system-colorB: var(--dark-secondary-color);
    --contrast-colorB: var(--dark-contrast-color);
    --button-hover: #13692d;
    --bg-dark1: url('../img/backgrounds/bg-dark1.svg');
    --bg-dark2: url('../img/backgrounds/bg-dark2.svg');
    --bg-light1: url('../img/backgrounds/bg-light1.svg');
    --bg-light2: url('../img/backgrounds/bg-light2.svg');
    --primary-bg: var(--bg-dark1);
    --secondary-bg: var(--bg-dark2);
}

#home {
    background-image: var(--primary-bg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.home-content {
    max-width: 120rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 10rem;
}
.home-text-container h2 {
    font-size: 6rem;
    font-family: "Tomorrow", serif;
    font-weight: 700;
    color: var(--contrast-colorB);
    margin-bottom: 1rem;
}
.contrast-text {
    color: var(--contrast-colorA);
}

.home-text-container p {
    text-align: left;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.home-image-container .home-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--contrast-colorA);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 0 20px rgba(10, 10, 10, 1);
}

.home-image-container .home-image img {
    border-radius: 50%;
    max-width: 45rem;
    min-height: 45rem;
}

.button-profile {
    padding: 0.5rem 1.5rem;
    border: solid 0.25rem var(--contrast-colorA);
    border-radius: 3rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--contrast-colorB);
    transition: background-color 300ms ease-in-out;
}
.button-profile:hover{
    background-color: var(--contrast-colorA);
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-icons .icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-icons .icons a {
    color: var(--contrast-colorB);
    font-size: 2.6rem;
    transition: color 0.3s;
}

.social-icons .icons a:hover {
    color: var(--contrast-colorA);
}






#profile {
    display: flex;
    top: 0;
    margin: 0 auto;
    max-width: 140rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    transition: all 400ms ease;
}

.card {
    min-height: 65rem;
    background: var(--system-colorB);
    color: var(--contrast-colorB);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 400ms ease;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    flex: 1;
}

.card[for='c1']{
    background-image: url('../img/profile-cards/eu-bg.jpg');
    background-position: left;
    background-size: cover;
}
.card[for='c2']{
    background-image: url('../img/profile-cards/eu-bg.jpg');
    background-position: center;
    background-size: cover;
}
.card[for='c3']{
    background-image: url('../img/profile-cards/eu-bg.jpg');
    background-position: center;
    background-size: cover;
}
.card[for='c4']{
    background-image: url('../img/profile-cards/eu-bg.jpg');
    background-position: right;
    background-size: cover;
}

.card .card-content {
    position: absolute;
    opacity: 0;
    transition: opacity 400ms ease-in-out, left 400ms ease, z-index 400ms ease;
    left: -100%;
    z-index: -1;
}

.card.hidden {
    flex: 0;
    margin: 0;
}
.card.invisible {
    opacity: 0;
}

.card-content.visible {
    opacity: 1;
    z-index: 1;
    left: 0.5rem;
}

@media (max-width: 950px) {
    #profile {
        flex-direction: column;
    }
    .card {
        min-height: 10rem;
        width: 100%;
    }
    .card.hidden {
        flex: 0;
        margin: 0;
        min-height: 0;
    }
    .card.card.hidden h3 {
        display: none;
    }
}

